/* Reset */
@import "reset.css";
/* Components */
@import "components/nav.css";
@import "components/footer.css";


/* Screens */
@import "screens/index.css";
@import "screens/LOL.css";
@import "screens/TFT.css";







/* variables */
:root{
    --blue : rgb(83,131,232);
    --dark : rgb(40,52,78);
    --space : 0 12px;

}