/* Reset */
@import "reset.css";
/* Components */
@import "components/nav.css";
@import "components/footer.css";


/* Screens */
@import "screens/index.css";
@import "screens/LOL.css";
@import "screens/TFT.css";
@import "screens/PUBG.css";
@import "screens/STAR.css";







/* variables */
:root{
    --blue : rgb(83,131,232);
    --dark : rgb(40,52,78);
    --space : 0 12px;
    --shadow : 0 1px 3px 0 rgba(0,0,0,.15);

}