/* Reset */
@import "reset.css";
/* Components */
@import "components/nav.css";
@import "components/footer.css";
@import "components/sidebar.css";

/* Screens */
@import "screens/index.css";
@import "screens/login.css";
@import "screens/LOL.css";
@import "screens/TFT.css";
@import "screens/PUBG.css";
@import "screens/STAR.css";
@import "screens/sign-up.css";

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Manrope:wght@300;400&family=Source+Sans+Pro:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway');





/* variables */
:root{
    --blue : rgb(83,131,232);
    --dark : rgb(40,52,78);
    --space : 0 12px;
    --shadow : 0 1px 3px 0 rgba(0,0,0,.15);

}