.sign-up__body{
  background-color: #e1e5e9;
}
.container__sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  margin: 80px auto;
  width: 30%;
  min-width: 350px;
  box-shadow: var(--shadow);
  overflow: hidden;
}
.container__sign-up h2 {
  color: rgb(83,131,232);
  font-size: 50px;
  font-weight: 700;
  margin: 20px auto 20px
}

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
.signinput 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:95%;
  border:none;
  border-bottom:1px solid #757575;
}


/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:99%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:0; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}
#normal{
  position: relative;

  right: 0;
}
/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.gainjungbo{
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 0px;
}
.sign__form{
  width: 80%;
}

.login__btn {
  background-color: rgb(189, 189, 189);
  vertical-align: middle;
  text-align: center;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
  height: 50px;
  transition: 0.3s ease-in-out;
}
.login__btn:hover {
  background-color: rgb(83,131,232);
}