#nav-bar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40,52,78);
}
#nav__logo {
    background-color: var(--blue);
    font-size: 20px;
    min-width: 140px;
    font-weight: 700;
    color: white;
    white-space: nowrap;
    height: 40px;
    display: flex;
    align-items: center;
    padding: var(--space);
}
#logo__span1{
    margin: 0 8px;
    position: relative;
    top:-2px;
    cursor: pointer;
}
#logo__span2{
    padding-right: 12px;
    position: relative;
    top:-2px;
    cursor: pointer;
}
.nav__lists{
    width: 83%;
    height: 40px;
    padding: var(--space);
    display: flex;
    justify-content: flex-start;
    padding-left: 0px;
}
.nav__lists > div > div {
box-sizing: content-box;
padding: 10px 6px;
margin: 0 5px;
border-radius: 10px;
font-size: 15px;
color: white;
font-weight: 700;
transition: 0.3s ease-in-out all;
}
.nav__lists > div >div:hover{
    background-color: rgb(39, 64, 119);
}
.nav__icons {
    min-width: 180px;
    height: 40px;
    display: flex;
    padding-left: 0;
    white-space: nowrap;
}
.nav__icons li{
    padding: 8px 6px 0 6px;
    border-radius: 10px;
    margin: 0 5px;
    color: white;
    font-weight: 700;
    transition: 0.3s ease-in-out all;
}
.nav__icons li:hover{
    background-color: rgb(39, 64, 119);
}
#nav_toggle {
    display: none;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    color: white;
    cursor: pointer;
}
.nav__current{
    display: flex;
    position: relative;
    width: 100%;
    height: 40px;
    background-color: var(--blue);
}
.nav__current__name{
    display: inline-block;
    font-size: 15px;
    color: white;
    font-weight: 700;
    box-sizing: border-box;
    padding: 5px 16px 0 16px;
}
.nav__current__name img{
    position: relative;
    top: 4px;
    right: 3px;
}
.nav__current__list {
    display: flex;

}
.nav__current__list div{
    padding: 5px 3px 5px 3px;
    margin: 5px 3px 5px 3px;
    border-radius: 10px;
    font-size: 15px;
    color: black;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
}
.nav__current__list div:hover {
    color: white;
    background-color: rgba(55, 77, 126, 0.692);
}
@media screen and (max-width: 850px) {
    #nav-bar{
        position: sticky;
        flex-direction: column;
        background-color: var(--blue);
        min-height: 40px;
    }
    .nav__lists{
        background-color: var(--dark);
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 140px;
        padding-top: 20px;
        display: none;
    }
    .nav__lists div {
        padding: 5px 10px;
        margin: 3px;
    }
    .nav__icons{
        width: 100%;
        justify-content: flex-end;
        background-color: var(--dark);
        display: none;
    }
    .nav__icons li {
        padding: 6px 6px -3px 6px;
    }
    #nav_toggle {
        display: block;
        width: 30px;
    }
    .active {
        display: flex;
    }

}